resources/app/bootstrap/* linguist-vendored
resources/app/jquery/* linguist-vendored
resources/node_modules/* linguist-vendored
resources/app.png linguist-vendored
resources/app/typegreek.js linguist-vendored
