
html * {
	font-family: "Open Sans", "FreeSans", "Arial Unicode MS";
}

body {
	text-align: center;
}

fieldset {
	border: 1px solid green;
	border-radius: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

legend {
	border: 1px solid green;
	border-radius: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	font-size: 100%;
}

pre {
	margin-bottom: 0px;
}

.input-text {
	font-size: 18px;
}

.greek {
	font-family: "Open Sans", "FreeSans", "Arial Unicode MS";
}

.greek-help {
	font-size: 24px;
}

.letter-box {
	padding: 2px 2px;
	display: inline-block;
}

.letter-box-p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.xml {
	text-align: left;
}

.buttons-group {
	padding-top: 6px;
	padding-bottom: 6px;
}

.btn {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.btn-letters {
	font-size: 18px;
}

.input-group-addon {
	border: 0px solid transparent;
}
